*{
	
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Rubik', sans-serif;
	list-style: none;
	text-decoration: none;
}

:root{
	--background-color: #848cc4;
	--text-color: #fff;
	--main-color: #1c25d4;
	--big-font: 7rem;
	--p-font: 1.1rem;
}

body{
	background: var(--background-color);
	color: var(--text-color);
	overflow-x: hidden;
}
header{
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 32px 15%;
	background: transparent;
	transition: all ease .50s;
	}
	.logo{
		color: var(--text-color);
		font-size: 42px;
		font-weight: 650;
	}
	.logo span{
		color: var(--main-color);
	}
	.navbar{
		display: flex;
	}
	.navbar a{
		font-size: var(--p-font);
		font-weight: 505;
		color: var(--text-color);
		margin: 0 24px;
		transition: all ease .50s;
	}
	.navbar a:hover{
		color: var(--main-color);
	}
	.navbar a.active{
		color: var(--main-color);
	}
	.menu-btn{
		background: linear-gradient(130deg,#383528 0%,#191919 100%);
		box-shadow: 0px 20px 40px #00000070;
		border: 1px solid #3b3b3b;
		padding: 10px 20px;
		border-radius: 100px;
		display: flex;
		align-items: center;
		cursor: pointer;
	}
	#menu-icon{
		font-size: 30px;
		margin-left: 10px;
		z-index: 6;
	}

	section{
		padding: 0 15%;
	}
	.home{
		position: relative;
		width: 100%;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 30px;
	}
	


	
.home-img{
	width: 100%;
	height: 50%;
	object-fit: contain;
}
.home-text span{
	padding: 5px 25px;
	background: linear-gradient(130deg,#383528 0%,#545454 100%);
	box-shadow: 0px 20px 30px #00000070;
	border: 1px solid #3b3b3b;
	border-radius: 100px;
	color: var(--text-color);
	font-weight: 700;
	font-size: 15px;
	text-transform: uppercase;
}
.home-text h1{
	font-size: 43px;
	margin: 20px 0;
}
.home-text p{
	font-size: var(--p-font);
	font-weight: 400;
	color: #c3c3c3;
	line-height: 20px;
	margin-bottom: 30px;
}
.btn{
	display: inline-block;
	padding: 10px 40px;
	background: var(--main-color);
	color: var(--text-color);
	font-size: 15px;
	border-radius: 50px;
	transition: all 0.3s ease-in-out;
}
.btn:hover{
	transform: translateY(-5px);
	background: transparent;
	color: var(--main-color);
}
.share{
	position: absolute;
	bottom: 3rem;
	left: 15%;
	display: flex;
	align-items: center;
}
.share p{
	font-size: 15px;
	color: var(--text-color);
	margin-right: 25px;
}
.social i{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: 45px;
	background: linear-gradient(50deg,#000000 0%,#1c25d4 100%);
	box-shadow: 0px 20px 30px #00000070;
	border: 20px solid #1c25d4;
	border-radius: 50%;
	color: var(--text-color);
	margin: 0 7px;
	transition: all 0.7s ease-in-out;
}
.social i:hover{
	transform: translateY(-10px);
}

@media (max-width:1900px){
	header{
		padding: 15px 8%;
		transition: 5s;
	}
	section{
	padding: : 0 8%;
	transition: 5s;
	}
	.share{
		left: 8%;
		transition: 5s;
	}
	



@media (max-width:1300px){
	header{
		padding: 15px 4%;
		transition: 2s;
	}
	section{
	padding: : 0 4%;
	transition: 5s;
	}
	.share{
		left: 4%;
		transition: 5s;
	}
	:root{
		--big-font: 5rem;
		--p-font: 1rem;
		transition: 5s;
	}


} 	

@media (max-width:1000px){
	.navbar a{
		margin: 12px;
	}
	:root{
		--big-font: 5rem;
		--p-font: 1rem;
		transition: 2s;
	}
}


@media (max-width:1000px){
	.share{
		display: 
	}
	section{
	padding: 70px 4%;

}
	header{
	padding:10px 4%;
	background: #0d1f42;

}
.home{
	height: auto;
	display: flex;
	flex-wrap: wrap;
}
.home-text{
	order: 1;
}
.home-img{
	margin: auto;
	height: auto;
	width: auto;
}
.home-img img{
	max-width: 500px;
	width: 100%;
	height: auto;
	
}
}
